.main{
    margin-top: 6%;

}
h3{
 color:#2AA440;   
}
h6{
 color:#2AA440;
}
.btn{
    margin-top: 10%;
}
.my-button{
background-color: #2AA440;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.my-button2{
    background-color: #2AA440;
    width: 60%;
    }
.slide-btn{
    width: 100%;
    margin-top: 45%;
    /* display: -webkit-inline-box; */
    //margin-left: -25%;
    text-align: left;
}
.post-logo{
    width: 40px;
    border-radius: 50%;
}
.myDiv{
    background-color: #e2e0e0;
    padding: 10px;
    font-size: 16px;
}

 .myhead{
    display: inline-block;
    width: 23%;
    text-align: center;
    color: black;
    font-size: 80%
 }
 .headColor{
    color: green;
    display: inline-block;
    width: 24%;
    text-align: center;
    font-weight: bold;
 }


.content-box {
    padding-right: 20px;
    padding-left: 20px;
}