// .cam-icon {
//   background: #4aa541;
//   border-radius: 35px;
//   color: #fff;
//   width: 45px;
//   height: 45px;
//   // line-height: 25px;
//   // font-size: 14px !important;
//   margin-top: 50px;
// }
.slider-p {
  --position: absolute;
  --width: 100%;
  --padding: 10px 20px;
  --margin: 0;
  --bottom: 0;
  --line-height: 13px;
}
img {
  height: 190px;
  width: 100%;
}
// .container {
//   position: relative;
//   // overflow: hidden;
// }
.btn {
  --background: var(--ion-color-btn);
  color: white;
}
.myOverlay {
  // margin-top: 150px;
  width: 100%;
  height: 20px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.8;
  height: auto;
  margin-top: 10px;
  background: rgb(247, 245, 245);
  // color: #fff;
}
.cam-icon {
  background: #4aa541;
  border-radius: 35px;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
font-size: 24px !important;
margin-top: 13px;
}
body.keyboard-is-open ion-slides {
  display: none;
}