.btn1 {
    --background: var(--ion-color-btn);
    //  margin-top: 15%;
     color: white;
   }
.main{
    margin-top: 6%;

}
// ion-icon{
//     color: #2AA440;
// }
h3{
 color:#2AA440;   
}
h6{
    color:#2AA440;
}
.btn{
    margin-top: 5%;
}
.my-button{
background-color: #2AA440;
}
// .my-button ion-icon{
//     color: white;
// }
.my-button3{
    background-color: #2AA440;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.my-button2{
    background-color: #2AA440;
    width: 60%;
    }
.slide-btn{
    width: 100%;
    margin-top: -24%;
    /* display: -webkit-inline-box; */
    //margin-left: -25%;
    text-align: left;
}   

.picture-upload{
    text-align: center;
}

.cam-icon2 {
    background: #4aa541;
    border-radius: 35px;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px !important;
   
    
}
.head-p{
    padding: 10px;
    background-color: lightgray;
}

.content-box {
    padding-right: 20px;
    padding-left: 20px;
}     
