.main{
    margin-top: 6%;

}
ion-item{
   background-color: #fbfbfb!important;
}
.submit-btn{
    --background: var(--ion-color-btn);
    //  margin-top: 15%;
     color: white;
}

.content-box {
   padding-right: 20px;
   padding-left: 20px;
}

