ion-card{
    // background-image: url("assets/icon/harry.jpg");
    border-radius: 100px!important;
    width: 95px!important;
    height: 95px!important;
    // display: flex;
    // flex-direction: column;
    // margin: 0 !important;
  }
  