ion-toolbar {
    --background:#2aa440;
    // --ion-color-base: transparent !important;
    --color: white;
  }
  .content-box {
		padding-right: 20px;
		padding-left: 20px;
  }
  .main h3{
		color: #2AA440;
	}