.main{
    margin-top: 6%;

}
h3{
 color:#2AA440;   
}

.content-box {
padding-right: 20px;
padding-left: 20px;
}
.img-cam{
text-align: center;
ion-icon{
    font-size: 50px;
}
img{
    width: 80px;
    height: 80px;
}
}
