<!-- <ion-header > -->
 <!-- <app-header [HeadText]="htext"></app-header> -->
<!-- </ion-header> -->


    <ion-content padding>
    
        <div>
       <p class="align">
         <img src="assets/icon/logo.jpg" class="logo">
       </p>
    
        <ion-item>
          <ion-label position="floating" class="text">Email ID or Username or Phone </ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating" class="text">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>
    
        <ion-button expand="block" class="login-btn" (click)="login(email, password)" >Login</ion-button>
      </div>
    
        <p class="forgot" (click)="presentPopover(ev)">
          Forgot Password?
        </p>
    
    </ion-content>
    
    <ion-footer style="text-align: center; ">
      <ion-toolbar (click)="toSignup()">
        <ion-title style="color: white;">Sign Up here</ion-title>
      </ion-toolbar>
    </ion-footer>
    