<ion-header>
 <app-header [HeadText]="htext"></app-header>
 <app-bill></app-bill>
</ion-header>
<ion-content [scrollEvents]="true">
    <!-- <ion-card> -->

     <!-- <ion-card-content> -->
        <!-- <ion-infinite-scroll> -->
            <ion-grid style="size: 5px;">
                <ion-row>
                  <ion-col>
                    <p>Wizdiary.com is a free online business social network that provides professional and transparent services to small, medium and large scale businesses, locally and across the board.
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Today we are all about connecting people and their business to their devices to support and improve their livelihood by branding, growing and marketing their businesses within their immediate community. Right now support small business help desk through our business support team, B2B and B2C
                    </p>
                  </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                        <p>Our fast, quick and easy grouping of businesses near me that are not similar to each other so that they would be a community of businesses that refer customers to each other and growth would be uniform.
                          
                        </p>
                      </ion-col>
                    </ion-row>
                      <ion-row>
                        
                          <ion-col>
                            <p>Example of some businesses that could benefit from our step-by-step support are local surgery/clinics (dental, eye and general), cafe, grocery shop, phone shop, flower shop, restaurant, pharmacy, fish & chips, cake shop, IT business support services, furniture shop, cash & carry, banks & money shop, dry cleaners, car wash, library, locksmith, games shop, car garage, barbering and hairdressing saloon, cobbler, small business IT services, bus and train garage, sweet shop, estate agent, hardware, cosmetics, man and van, post office, police station, hospitals, fire department and it is simple.
                              
                            </p>
                          </ion-col>
                        </ion-row>
                          <ion-row>
                              <ion-col>
                                <p>These are just a few of the type of businesses that would be supported. It does not matter if the businesses are relative to one another or different, our enabling support to advertise on wizdiary billboard/ad board and posted jobs helps businesses in search of cleaner, waiters, floor attendants, basically workers that could commute to work in a shorter amount of time and it works quickly. Imagine the economic impact it is bring into different communities.
                                  
                                </p>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                  <p>Wizdiary would enable users post free job ads online, users will be able to post your ads for free online. You will master how to quickly post free ads online, advertise my business for free, post your ad on a clever billboards and best billboards with your company names.</p>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col>
                                  <p>Wizdiary encourages their users to invite their business associate or friend, we also encourage small businesses tech support services and business.</p>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                <ion-col>
                                    <p>Wizdiary will send you a notification when your posted 
                                        <a href="/billboard">Billboard</a> and <a href="/post-job">Ad board / Post a job </a>expires. 
                                      </p>
                                </ion-col>
                              </ion-row>
                              <ion-row>
                                  <ion-col>
                                    <p>
                                        You can watch our <a href="https://www.youtube.com/watch?v=1N8ScYxYSiA">wizdiary YouTube</a> channels.
                                    </p>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
  <!-- </ion-infinite-scroll> -->
<!-- </ion-card-content>
</ion-card>  -->
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>
